[nz-form] {
    min-width: 600px;
  }

  .phone-select {
    width: 70px;
  }

  .register-are {
    margin-bottom: 8px;
  }
  .centrar {
    display: flex;
    justify-content: center;
    margin-top: 150px;
  }