
    <div class="nav-section nav-left">
        <button (click)="toggleBodyClass()" class="nav-button menu-button">
            <i class="uil uil-bars"></i>
        </button>
        <a href="#" class="nav-logo">
            <img src="../../../../../assets/images/logo.jpeg" alt="Logo" class="logo-image">
            <h2 class="logo-text">Atuk</h2>
        </a>
    </div>

    <div class="links-container">
        <div class="link-section" *ngFor="let item of mainMenu.defaultOptions">
            <a *ngIf="item.estado" [routerLink]="item.router" (click)="Resize()" href="#" class="link-item">
                <i [ngClass]="['uil',item.icon]"></i> {{item.name}}
            </a>
        </div>
        <div class="section-separator"></div>
        <div class="link-section" >
            <h4 class="section-title">Modulos</h4>
            <div *ngFor="let item of mainMenu.accessLink">
                <a *ngIf="item.estado" [routerLink]="item.router" (click)="Resize()" href="#" class="link-item">
                    <i [ngClass]="['uil',item.icon]"></i> {{item.name}}
                </a>
            </div>
            
        </div>
        <div class="section-separator"></div>

        <div  class="link-section">
            <h4 class="section-title">Empresa</h4>
            <a *ngIf="rolAdmin" [routerLink]="'/agencia'" (click)="Resize()" href="#" class="link-item">
                <i class="uil  uil-setting"></i> Agencia
            </a>
           
        </div>
    </div>
<div>
    <div><i class="uil uil-ellipsis-h"></i></div>
    <ul class="side-bar__list list-one">
        <li [routerLink]="item.router" [queryParams]="item.query" *ngFor="let item of mainMenu.defaultOptions">
            <div *ngIf="item.estado" class="list-wrapper-item">
                <i [ngClass]="['uil',item.icon]"></i>
                <span class="side-bar__list list-label">{{item.name}}</span>
            </div>
        </li>
    </ul>
    <div class="side-bar__separator line-separator"></div>
    <ul class="side-bar__list list-two">
        <li [routerLink]="item.router" [queryParams]="item.query" *ngFor="let item of mainMenu.accessLink">
            <div *ngIf="item.estado" class="list-wrapper-item">
                <i [ngClass]="['uil',item.icon]"></i>
                <span class="side-bar__list list-label">{{item.name}}</span>
            </div>
        </li>
    </ul>
    <div class="side-bar__separator line-separator"></div>
    <ul class="side-bar__list list-three">
        <li [routerLink]="item.router" [queryParams]="item.query" *ngFor="let item of customOptions">
            <div *ngIf="item.estado" class="list-wrapper-item">
                <i [ngClass]="['uil',item.icon]"></i>
                <span class="side-bar__list list-label">{{item.name}}</span>
            </div>
        </li>
    </ul> <br>
    <button nzBlock [nzSize]="'large'" nz-button nzDanger (click)="final()">Finalizar la sesión</button>
</div>