<div class="history-page" style="margin-top: 10px;">
    <div nz-row nzJustify="space-between" style="margin-bottom: 15px;">
        <div nz-col nzSpan="8">
            <h2 nz-typography>Usuarios de sistema</h2>
        </div>
        <div nz-col nzSpan="8">
            <nz-input-group [nzSuffix]="suffixIconSearch" style="margin-top: 10px;">
                <input type="text" #searchText nz-input placeholder="introducir texto de busqueda" Green
                    (keyup.enter)="search(searchText.value)" />
            </nz-input-group>
        </div>
        <div nz-col nzSpan="8" style="display: inline-grid;">
            <button nz-button nzType="primary" (click)="showModal()"
                style="margin-top: 10px;margin-left: auto !important;">Crear usuario</button>
        </div>
    </div>
    <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
    </ng-template>
    
    <div *ngIf="isLoads;else other_content" class="centrar">
        <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
    </div>
    <ng-template #other_content>
        <nz-table #basicTable nzShowSizeChanger [nzPageSizeOptions]="[7,20,50,100]" [nzPageSize]="7" [nzData]="lisDto">
            <thead>
                <tr>
                    <th>Nombres</th>
                    <th>Identificación</th>
                    <th>Email</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data">
                    <td>{{data.fullname}}</td>
                    <td>{{data.cedula}}</td>
                    <td>{{data.email}}</td>
                    <td>
                        <a nz-dropdown [nzDropdownMenu]="menu">
                            Acción
                            <span nz-icon nzType="down"></span>
                        </a>
                        <nz-dropdown-menu #menu="nzDropdownMenu">
                            <ul nz-menu nzSelectable>
                                <li nz-menu-item (click)="update(data)">Editar</li>
                                <li nz-menu-item (click)="role(data)">Roles y permisos</li>
                                <li nz-menu-item nzDanger (click)="showDeleteConfirm(data._id)">Eliminar</li>
                            </ul>
                        </nz-dropdown-menu>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </ng-template>

    <nz-modal [nzStyle]="{width:'700px'}" nzCentered [(nzVisible)]="isVisible" nzTitle="Clientes"
        (nzOnCancel)="handleCancel()" (nzOnOk)="submitForm()">
        <ng-container *nzModalContent>
            <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="cedula" nzRequired>
                        <span>Identificación</span>
                    </nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="¡Por favor ingrese la identificacion!">
                        <input nz-input id="cedula" formControlName="cedula" autocomplete="off" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="El valor no es valido E-mail!">
                        <input nz-input formControlName="email" id="email" autocomplete="off" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="fullname" nzRequired>
                        <span>Apellidos y nombres</span>
                    </nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="¡Por favor ingrese el nombre!">
                        <input nz-input id="fullname" formControlName="fullname" autocomplete="off" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="telefono" nzRequired>
                        <span>Teléfono</span>
                    </nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="¡Por favor ingrese el telefono!">
                        <input nz-input id="telefono" formControlName="telefono" autocomplete="off" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="direccion" nzRequired>
                        <span>Direccion</span>
                    </nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="¡Por favor ingrese la direccion!">
                        <input nz-input id="direccion" formControlName="direccion" autocomplete="off" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>
                        <span>Contraseña</span>
                    </nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="¡Por favor ingrese la Contraseña!">
                        <input nz-input id="password" formControlName="password" autocomplete="off" type="password"/>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </ng-container>
    </nz-modal>
    <nz-modal [nzStyle]="{width:'550px'}" nzCentered [(nzVisible)]="isRoles" nzTitle="Roles de usuario"
    (nzOnCancel)="handleCancelRole()">
    <ng-container *nzModalContent>
        <div nz-row class="login-form-margin">
            <div nz-col [nzSpan]="8">
                <label nz-checkbox [(ngModel)]="roladmin" (ngModelChange)="onAdmin('Admin')">Administrador</label>
            </div>
            <div nz-col [nzSpan]="8">
              <label nz-checkbox [(ngModel)]="rolsecretario" (ngModelChange)="onSecretario('Secretaria')">Secretario</label>
            </div>
            <div nz-col [nzSpan]="8">
                <label nz-checkbox [(ngModel)]="roltramitador" (ngModelChange)="onTramitador('Tramitador')">Tramitador</label>
              </div>
          </div>
    </ng-container>
</nz-modal>
</div>