<div class="history-page" style="margin-top: 10px;">
    <div style="display: flex;justify-content: space-between;">
        <h2 nz-typography>Gestion de clientes</h2>
    <button nz-button nzType="primary" (click)="showModal()" style="margin-top: 10px;">Crear cliente</button>
    </div>
    
    <div *ngIf="isLoads;else other_content" class="centrar">
        <nz-skeleton></nz-skeleton>
    </div>
    <ng-template #other_content>
        <nz-table #basicTable [nzData]="lisDto">
            <thead>
                <tr>
                    <th>Nombres</th>
                    <th>Identificación</th>
                    <th>Dirección</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data">
                    <td>{{data.nombres}}</td>
                    <td>{{data.identificacion}}</td>
                    <td>{{data.direccion}}</td>
                    <td>
                        <a nz-dropdown [nzDropdownMenu]="menu">
                            Acción
                            <span nz-icon nzType="down"></span>
                        </a>
                        <nz-dropdown-menu #menu="nzDropdownMenu">
                            <ul nz-menu nzSelectable>
                                <li nz-menu-item (click)="update(data)">Editar</li>
                                <li nz-menu-item nzDanger (click)="showDeleteConfirm(data._id)">Eliminar</li>
                            </ul>
                        </nz-dropdown-menu>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </ng-template>

    <nz-modal [nzStyle]="{width:'700px'}" nzCentered [(nzVisible)]="isVisible" nzTitle="Clientes"
        (nzOnCancel)="handleCancel()" (nzOnOk)="submitForm()">
        <ng-container *nzModalContent>
            <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="identificacion" nzRequired>
                        <span>Identificación</span>
                    </nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="¡Por favor ingrese su identificacion!">
                        <input nz-input id="identificacion" formControlName="identificacion" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="El valor no es valido E-mail!">
                        <input nz-input formControlName="email" id="email" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="nombres" nzRequired>
                        <span>Apellidos y nombres</span>
                    </nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="¡Por favor ingrese su nombres!">
                        <input nz-input id="nombres" formControlName="nombres" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="telefono" nzRequired>
                        <span>Teléfono</span>
                    </nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="¡Por favor ingrese su telefono!">
                        <input nz-input id="telefono" formControlName="telefono" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="direccion" nzRequired>
                        <span>Direccion</span>
                    </nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="¡Por favor ingrese su direccion!">
                        <input nz-input id="direccion" formControlName="direccion" />
                    </nz-form-control>
                </nz-form-item>
            </form>
        </ng-container>
    </nz-modal>
</div>