<div class="history-page" style="margin-top: 10px;">
    <div nz-row nzJustify="space-between" style="margin-bottom: 15px;">
        <div nz-col nzSpan="8">
            <h2 nz-typography>Gestion de servicios</h2>
        </div>
        <div nz-col nzSpan="8">
            <nz-input-group [nzSuffix]="suffixIconSearch" style="margin-top: 10px;">
                <input type="search" #searchText nz-input placeholder="introducir texto de busqueda" Green
                    (keyup.enter)="search(searchText.value)"/>
            </nz-input-group>
        </div>
        <div></div>
        <div nz-col nzSpan="8" style="display: inline-grid;">
            <button [nzSize]="'large'" nz-button nzType="primary" (click)="showModal()"
                style="margin-top: 10px;margin-left: auto !important;">Crear servicio</button>
        </div>
    </div>
    <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
    </ng-template>
    
    <div *ngIf="isLoads;else other_content" class="centrar">
        <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
    </div>
    <ng-template #other_content>
        <nz-table #basicTable nzShowSizeChanger [nzPageSizeOptions]="[7,20,50,100]" [nzPageSize]="7" [nzData]="listDto">
            <thead>
                <tr>
                    <th>Nombres</th>
                    <th>Estado</th>
                    <th>Fecha</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data">
                    <td>{{data.nombre}}</td>
                    <td>{{data.estado}}</td>
                    <td>{{data.createdAt}}</td>
                    <td>
                        <a nz-dropdown [nzDropdownMenu]="menu">
                            Acción
                            <span nz-icon nzType="down"></span>
                        </a>
                        <nz-dropdown-menu #menu="nzDropdownMenu">
                            <ul nz-menu nzSelectable>
                                <li nz-menu-item (click)="update(data)">Editar</li>
                                <li nz-menu-item nzDanger (click)="showDeleteConfirm(data._id)">Eliminar</li>
                            </ul>
                        </nz-dropdown-menu>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </ng-template>

    <nz-modal [nzStyle]="{width:'700px'}" nzCentered [(nzVisible)]="isVisible" nzTitle="Clientes"
        (nzOnCancel)="handleCancel()" (nzOnOk)="submitForm()">
        <ng-container *nzModalContent>
            <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="nombre" nzRequired>
                        <span>Nombre servicio</span>
                    </nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="¡Por favor ingrese el servicio!">
                        <input nzSize="large" nz-input id="nombre" formControlName="nombre" autocomplete="off"/>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </ng-container>
    </nz-modal>
</div>